.biography__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}

.biography__text {
  width: 90%;
  text-align: justify;
  line-height: 1.5rem;
}

.biography__link {
  color: #4a707a;
}
