.footer__contact {
  padding: 15px;
  margin: 10px 50px 15px 50px;
  text-align: center;
}

.address__contact {
  padding-right: 15px;
}

.footer__contactt--uppercase {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}

.address__section {
  padding: 15px;
}

.footer__name {
  text-align: end;
  padding: 25px;
}
