.figure__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image__profil {
  width: 220px;
  border-radius: 16px;
  margin: 20px;
}

.image__caption {
  font-size: 1.1rem;
  font-size: 300;
  margin-bottom: 20px;
}
