@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");

* {
  box-sizing: border-box;
}

html {
  background-color: #e3e8ea;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #565a5b;
}

header {
  padding: 25px;
  height: auto;
  margin: 10px 10px;
  text-align: center;
}

section,
figure,
div {
  background-color: #c6d4db;
  border-radius: 3px;
}

header,
footer {
  background-color: #b5c3cb;
  border-radius: 3px;
}

h2 {
  font-size: 1.6rem;
  text-align: center;
  padding: 15px;
}

a {
  text-decoration: none;
  color: #565a5b;
}

a:hover {
  cursor: pointer;
  color: #e3e8ea;
}

ul {
  list-style: none;
  line-height: 1.5rem;
  padding: 0;
}
