@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #565a5b;
}

header {
  padding: 25px;
  margin: 5px 0;
  height: auto;
}

.main-header {
  padding: 15px;
  font-size: 2.5rem;
}

.my-name {
  padding: 25px;
  font-size: 2rem;
}

h2 {
  font-size: 1.6rem;
}

a:hover {
  cursor: pointer;
  color: #4a707a;
}

ul {
  list-style: none;
}

.header-section {
  background-color: #b5c3cb;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  padding: 25px;
}

.button-link {
  text-decoration: none;
  color: #565a5b;
  background-color: #c6d4db;
  padding: 10px;
  border-radius: 15px;
  width: 120px;
}

.img-section {
  background-color: #c6d4db;
  text-align: center;
  padding: 55px;
  margin: 5px 0 0 0;
}

.profil-img {
  width: 250px;
  border-radius: 5%;
}

.caption {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 5px;
}

.aboutme {
  background-color: #c6d4db;
  margin: 5px 0;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.text-aboutme {
  width: 50%;
  text-align: justify;
}

.link-neuefische {
  text-decoration: none;
  color: #4a707a;
}

.cv {
  background-color: #c6d4db;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 25px;
}

.table-line {
  padding: 5px 10px;
}

.table-header {
  font-size: 1.6rem;
  padding: 15px;
}

.figure-section {
  background-color: #c6d4db;
  padding: 15px;
}

.socialmedia-header {
  text-align: center;
}

.figure-area {
  background-color: #c6d4db;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 25px;
  flex-wrap: wrap;
}

.logo {
  width: 150px;
}

.caption {
  text-align: center;
}

.logo-link {
  text-decoration: none;
  color: #4a707a;
}

.contact {
  background-color: #b5c3cb;
  padding: 15px;
  margin: 5px 0 0;
  text-align: center;
}

.link-contact {
  text-decoration: none;
  color: #4a707a;
  padding-right: 15px;
}

.get-in-touch {
  text-transform: uppercase;
  font-weight: bold;
  padding: 15px;
}

.address-section {
  padding: 15px;
}

.footer-section {
  background-color: #b5c3cb;
  padding: 25px 25px 2px;
  display: flex;
  justify-content: flex-end;
}
